{% extends "base.html" %}

{% block title %}Your Day{% endblock %}

{% block content %}

{% include "navbar.html" %}

{% if error %}
<div class="error text-danger">{{ error }}</div>
{% endif %}

{% if message %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endif %}

{% from "_formhelpers.html" import render_field %}

<h4> {{ month }} - {{ day }} - {{ year }} </h4>

<ul class="pager">
        <li class="previous"><a href ="{{url_for('user_app.day',day_value = prev_day,month=prev_month,year=prev_year)}}">Previous Day</a></li>
        <li class="next"><a href="{{url_for('user_app.day',day_value = next_day,month=next_month,year=next_year)}}">Next Day</a></li>
</ul>

<form method="POST" action="{{ url_for('user_app.day',day_value=day,month=month,year=year)}}" role="form">
        <table class='table'>
            <thead class="thead-dark">
            <tr>
                <th scope='col'>Habit</th>
                <th scope='col'>Completed</th>
            </tr>
            </thead>
            <tbody>
    {% for habit,day_info in day_info_dict.items() %}
            <tr>
                <td> {{ habit|upper }} </td>
   
                {% if day_info.habit_complete == True %}
                <td><input type=checkbox name={{habit.id}} value={{habit.id}} checked></td>
                {% else %}
                <td><input type=checkbox name={{habit.id}} value={{habit.id}}  ></td>

                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
<button type="submit" class="btn btn-default">Log Day</button>
</form>

{% endblock %}